/* main announcement container*/
.main-container {
    max-width: 1440px;
    margin: 0 auto; 
}
.announcement{
    background-color: #d8e8e3;
    display: flex;
    justify-content: center;
    margin-bottom:32px;
}

.announcement span{
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
   max-width: 60%;
   text-align: center;
   font-size:19px;
   line-height: 1.75;
   font-weight: 500;
}

.announcement a{
    color: black;
    text-decoration: underline;
}


.announcement a:hover{
    color: black;
    text-decoration: none;
    transform: all 0.2s ease;
}

 
/* sections left-right-section */
.left-right-section{
    display: flex;
    margin-bottom:32px;
}



.left-right-section .image{
    width:50%;
  display: flex;

}

.left-right-section .image img{
  width:100%;


}

.left-right-section .cta{
    font-size:16px;
    padding:8px 26px;
    border: 1px solid;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}

.left-right-section .text{
    width:50%;
    padding: 32px 48px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
  
}

.left-right-section .text > * :not(last-child){
    margin-bottom: 20px;
}


.left-right-section .text h3{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -.01em;
    text-align: center;
}




.left-right-section  .text > *:not(last-child){
    padding-left: 30px;
    padding-right: 30px;
}

/***** For reward section*****/

.reward .text{
    background-color:#D4E9E2;
    color: #000;
}

.reward .text strong{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
}
.reward .text strong sup{
font-size: 15px;
}


.reward .text .cta a{
    text-decoration: none;
    color:#1e3932;
}

.reward .text .cta:hover{
    padding:8px 32px;
    background-color: rgba(30,57,50,.1);

}


/***** For planet-positive section*****/

.planet .cta a{
    text-decoration: none;
    color:#1e3932;
}

.planet .text{
    background-color: #D4E9E2;
    color: #1E3932;
}

.planet .text strong{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
}

.planet .text .cta:hover{
    padding:8px 32px;
    background-color: rgba(30,57,50,.1);

}

/***** For iced shaken of awakening section *****/

.iced .text{
    background-color: #1E3932;
    color: #ffffff;
}

.iced .text strong{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1;
}

.iced .cta a{
    text-decoration: none;
    color: #ffffff;
}

.iced .text .cta:hover{
    background-color: #ffffff1f;
    padding:8px 32px;
}

/***** For taste of tomorrow section*****/

.taste .text{
    background-color: #1E3932;
    color: #ffffff;
}

.taste .text strong{
   font-size: 24px;
}

.taste .text h3{
    font-size: 18px;
    line-height: 2
 }

 .taste .text .cta:hover{
    background-color: #ffffff1f;
    padding:8px 32px;
}

/***** For Earning 4500 Bonus Star section*****/
   
.earning .text{
    background-color: #D4E9E2;;
    color: #1e3932;
}

.earning .text strong{
   font-size: 24px;
}

.earning .text h3{
    font-size: 18px;
    line-height: 2
 }

 .earning .text h3 sup{
    font-size: 10px;
 
 }

 .earning .cta a{
    text-decoration: none;
    color:#1e3932;
}

 
.earning .text .cta:hover{
    padding:8px 32px;
    background-color: rgba(30,57,50,.1);

}

/***** For Picnic Star section*****/

   
.picnic .text{
    background-color: #D4E9E2;;
    color: #1e3932;
}

.picnic .text strong{
   font-size: 24px;
}

.picnic .text h3{
    font-size: 18px;
    line-height: 2
 }

 .picnic .text h3 sup{
    font-size: 10px;
 
 }

 .picnic .cta a{
    text-decoration: none;
    color:#1e3932;
}

 
.picnic .text .cta:hover{
    padding:8px 32px;
    background-color: rgba(30,57,50,.1);

}

/*top-bottom-section sections */
section{
    display: flex;

}

.top-bottom-section{
    width: 50%;
    display: flex;
    margin-bottom: 30px;
}

.section-container{
    display: flex;
    flex-direction:column;
}

.top-bottom-section .image{
    width: 100%;
}

.top-bottom-section .image img{
    width: 100%;
}

.top-bottom-section .text{
    display: flex;
    flex-direction:column;
}

.cta-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bottom-section:first-child{
    margin-right: 16px;
}

.top-bottom-section:last-child{
    margin-left: 16px;
}
.top-bottom-section .image{
    display: flex;
}

.top-bottom-section .text{
    background-color:#d4e9e2;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-top:16px;
    color:#1e3932;
    flex-grow: 1;
      
}

.top-bottom-section .text h1{
    font-size: 24px;
    font-weight: 400;
    margin-bottom:24px;
}


.top-bottom-section .text h3{
   font-size:19px;
   line-height: 1.75;
}

/***** Stories section **/

.stories .text{
    background-color: #d4e9e2;
    color:black;
    /* padding-left: 24px;
    padding-right: 34px; */
}

.stories .text h3{
    line-height: 1.75;
}

.stories .text h1{
    font-size: 24px;
    margin-bottom: 24px;
}

.stories .text .cta{
    margin-top: 32px;
}

/***** Heading section **/

.heading{
    display: flex;
    justify-content: center;
    padding: 32px 0 32px 0;
}
 .top-heading{
    display: flex;
    padding: 0 40px 0 40px;
}

.bottom-heading{
    display: flex;
    padding: 0 40px 0 40px;
    width: 50%;
    text-align: center;
    
}

.top-heading .text span{
    color: black;
    font-weight: 400;
}

.top-heading .text span a{
    text-decoration: underline;
    color: black;
}

.top-heading .text span a:hover{
    text-decoration: none;
    transition: all 0.2s ease;
}


.bottom-heading .text span{
    color: black;
    font-weight: 400;
    line-height: 1.5;
  
}