body{
    margin: 0;
    color: rgba(0,0,0,.87);
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 400;
      /* overflow: hidden;
      height:100%;
   */
  }

  html{
    font-size: 62.5%;
  }
  
  *{
      box-shadow: border-box;
  }
  

  /* a{
      color: black;
  }
   */